.gP,
.sD {
  margin: 0;
}
.sDGContainer {
  width: 36px;
  position: relative;
  letter-spacing: 0.4em;
  line-height: 168%;
  display: inline-block;
  cursor: pointer;
}
.component64Icon {
  align-self: stretch;
  height: 28.6px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.component64Wrapper,
.sDGPParent {
  display: flex;
  align-items: flex-start;
}
.component64Wrapper {
  width: 70px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.sDGPParent {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-white);
  font-family: var(--font-sf-pro-display);
}
.wrapperGroup3,
.wrapperGroup3Child {
  position: absolute;
  mix-blend-mode: normal;
}
.wrapperGroup3Child {
  width: 100%;
  height: 100%;
  object-fit: contain;
  left: 0;
  top: 0;
  transform: scale(2.061);
}
.wrapperGroup3 {
  top: 369px;
  left: 158px;
  width: 900.5px;
  height: 892.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.projectActionsIcon {
  position: absolute;
  top: -97px;
  left: 0;
  width: 1277.5px;
  height: 1277.5px;
  object-fit: contain;
  mix-blend-mode: overlay;
  z-index: 1;
}
.wrapperGroup3Parent {
  height: 1261.5px;
  width: 608px;
  position: absolute;
  margin: 0 !important;
  right: -465px;
  bottom: -819.5px;
}
.projects {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 97.47%;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 2;
}
.frameGroup,
.frameWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frameGroup {
  width: 351px;
  justify-content: flex-start;
  position: relative;
}
.frameWrapper {
  width: 929px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.imageIcon {
  width: 306px;
  height: 424px;
  position: absolute;
  margin: 0 !important;
  top: -57px;
  left: -35px;
  object-fit: cover;
}
.genre {
  min-width: 35px;
}
.genre,
.groupNumber,
.projectName {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.projectName {
  margin: 0;
  width: 190px;
  font-size: var(--font-size-6xl);
  font-weight: 700;
  font-family: inherit;
}
.groupNumber {
  min-width: 84px;
}
.pharrowRightBoldIcon {
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.pharrowRightBoldWrapper {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 0;
}
.genreParent,
.groupNumberParent,
.pharrowRightBoldWrapper {
  display: flex;
  align-items: flex-start;
}
.groupNumberParent {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.genreParent {
  width: 206px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.pharrowRightBoldIcon1 {
  margin-left: -64px;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.card,
.cardContentContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}
.card {
  align-self: stretch;
  height: 320px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-end;
  padding: var(--padding-182xl) var(--padding-lg) var(--padding-lg);
  position: relative;
  gap: var(--gap-30xl);
}
.cardContentContainer {
  width: 269px;
  justify-content: flex-start;
  padding: 0 var(--padding-lgi) 0 0;
}
.imageIcon1 {
  width: 306px;
  height: 424px;
  position: absolute;
  margin: 0 !important;
  top: -57px;
  left: -35px;
  object-fit: cover;
}
.genre1 {
  min-width: 35px;
}
.genre1,
.groupNumber1,
.projectName1 {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.projectName1 {
  margin: 0;
  width: 190px;
  font-size: var(--font-size-6xl);
  font-weight: 700;
  font-family: inherit;
}
.groupNumber1 {
  min-width: 84px;
}
.pharrowRightBoldIcon2 {
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.pharrowRightBoldContainer {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 0;
}
.genreGroup,
.groupNumberGroup,
.pharrowRightBoldContainer {
  display: flex;
  align-items: flex-start;
}
.groupNumberGroup {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.genreGroup {
  width: 206px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.pharrowRightBoldIcon3 {
  margin-left: -64px;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.card1,
.cardContentContainer1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}
.card1 {
  align-self: stretch;
  height: 320px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-end;
  padding: var(--padding-182xl) var(--padding-lg) var(--padding-lg);
  position: relative;
  gap: var(--gap-30xl);
  z-index: 2;
}
.cardContentContainer1 {
  width: 269px;
  justify-content: flex-start;
  padding: 0 var(--padding-lgi) 0 0;
}
.imageIcon2 {
  width: 306px;
  height: 424px;
  position: absolute;
  margin: 0 !important;
  top: -57px;
  left: -35px;
  object-fit: cover;
}
.genre2 {
  min-width: 35px;
}
.genre2,
.groupNumber2,
.projectName2 {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.projectName2 {
  margin: 0;
  width: 190px;
  font-size: var(--font-size-6xl);
  font-weight: 700;
  font-family: inherit;
}
.groupNumber2 {
  min-width: 84px;
}
.pharrowRightBoldIcon4 {
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.pharrowRightBoldFrame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 0;
}
.groupNumberContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.genreContainer {
  width: 206px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.pharrowRightBoldIcon5 {
  margin-left: -64px;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.card2,
.iconLinefilter {
  position: relative;
  z-index: 2;
}
.card2 {
  height: 320px;
  width: 250px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-182xl) var(--padding-lg) var(--padding-lg);
  box-sizing: border-box;
  gap: var(--gap-30xl);
}
.iconLinefilter {
  width: 24px;
  height: 24px;
}
.iconLinefilterWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 148px 0 0;
}
.cardContentContainerParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 71px;
}
.imageIcon3 {
  width: 306px;
  height: 424px;
  position: absolute;
  margin: 0 !important;
  top: -57px;
  left: -35px;
  object-fit: cover;
}
.genre3 {
  min-width: 35px;
}
.genre3,
.groupNumber3,
.projectName3 {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.projectName3 {
  margin: 0;
  width: 190px;
  font-size: var(--font-size-6xl);
  font-weight: 700;
  font-family: inherit;
}
.groupNumber3 {
  min-width: 84px;
}
.pharrowRightBoldIcon6 {
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.pharrowRightBoldWrapper1 {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 0;
}
.frameDiv,
.groupNumberParent1,
.pharrowRightBoldWrapper1 {
  display: flex;
  align-items: flex-start;
}
.groupNumberParent1 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frameDiv {
  width: 206px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.card3,
.pharrowRightBoldIcon7 {
  overflow: hidden;
  flex-shrink: 0;
  position: relative;
}
.pharrowRightBoldIcon7 {
  margin-left: -64px;
  width: 32px;
  height: 32px;
  z-index: 1;
}
.card3 {
  height: 320px;
  width: 250px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-182xl) var(--padding-lg) var(--padding-lg);
  box-sizing: border-box;
  gap: var(--gap-30xl);
}
.imageIcon4 {
  width: 306px;
  height: 424px;
  position: absolute;
  margin: 0 !important;
  top: -57px;
  left: -35px;
  object-fit: cover;
}
.genre4 {
  min-width: 35px;
}
.genre4,
.groupNumber4,
.projectName4 {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.projectName4 {
  margin: 0;
  width: 190px;
  font-size: var(--font-size-6xl);
  font-weight: 700;
  font-family: inherit;
}
.groupNumber4 {
  min-width: 84px;
}
.pharrowRightBoldIcon8 {
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.pharrowRightBoldWrapper2 {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 0;
}
.genreParent1,
.groupNumberParent2,
.pharrowRightBoldWrapper2 {
  display: flex;
  align-items: flex-start;
}
.groupNumberParent2 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.genreParent1 {
  width: 206px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.card4,
.pharrowRightBoldIcon9 {
  overflow: hidden;
  flex-shrink: 0;
  position: relative;
}
.pharrowRightBoldIcon9 {
  margin-left: -64px;
  width: 32px;
  height: 32px;
  z-index: 1;
}
.card4 {
  height: 320px;
  width: 250px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-182xl) var(--padding-lg) var(--padding-lg);
  box-sizing: border-box;
  gap: var(--gap-30xl);
  z-index: 2;
}
.imageIcon5 {
  width: 306px;
  height: 424px;
  position: absolute;
  margin: 0 !important;
  top: -57px;
  left: -35px;
  object-fit: cover;
}
.genre5 {
  min-width: 35px;
}
.genre5,
.groupNumber5,
.projectName5 {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.projectName5 {
  margin: 0;
  width: 190px;
  font-size: var(--font-size-6xl);
  font-weight: 700;
  font-family: inherit;
}
.groupNumber5 {
  min-width: 84px;
}
.pharrowRightBoldIcon10 {
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.pharrowRightBoldWrapper3 {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 0;
}
.genreParent2,
.groupNumberParent3,
.pharrowRightBoldWrapper3 {
  display: flex;
  align-items: flex-start;
}
.groupNumberParent3 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.genreParent2 {
  width: 206px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.card5,
.pharrowRightBoldIcon11 {
  overflow: hidden;
  flex-shrink: 0;
  position: relative;
}
.pharrowRightBoldIcon11 {
  margin-left: -64px;
  width: 32px;
  height: 32px;
  z-index: 1;
}
.card5 {
  height: 320px;
  width: 250px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-182xl) var(--padding-lg) var(--padding-lg);
  box-sizing: border-box;
  gap: var(--gap-30xl);
  z-index: 2;
}
.imageIcon6 {
  width: 306px;
  height: 424px;
  position: absolute;
  margin: 0 !important;
  top: -57px;
  left: -35px;
  object-fit: cover;
}
.genre6 {
  min-width: 35px;
}
.genre6,
.groupNumber6,
.projectName6 {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.projectName6 {
  margin: 0;
  width: 190px;
  font-size: var(--font-size-6xl);
  font-weight: 700;
  font-family: inherit;
}
.groupNumber6 {
  min-width: 84px;
}
.pharrowRightBoldIcon12 {
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.pharrowRightBoldWrapper4 {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 0;
}
.genreParent3,
.groupNumberParent4,
.pharrowRightBoldWrapper4 {
  display: flex;
  align-items: flex-start;
}
.groupNumberParent4 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.genreParent3 {
  width: 206px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.card6,
.pharrowRightBoldIcon13 {
  overflow: hidden;
  flex-shrink: 0;
  position: relative;
}
.pharrowRightBoldIcon13 {
  margin-left: -64px;
  width: 32px;
  height: 32px;
  z-index: 1;
}
.card6 {
  height: 320px;
  width: 250px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-182xl) var(--padding-lg) var(--padding-lg);
  box-sizing: border-box;
  gap: var(--gap-30xl);
}
.imageIcon7 {
  width: 306px;
  height: 424px;
  position: absolute;
  margin: 0 !important;
  top: -57px;
  left: -35px;
  object-fit: cover;
}
.genre7 {
  min-width: 35px;
}
.genre7,
.groupNumber7,
.projectName7 {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.projectName7 {
  margin: 0;
  width: 190px;
  font-size: var(--font-size-6xl);
  font-weight: 700;
  font-family: inherit;
}
.groupNumber7 {
  min-width: 84px;
}
.pharrowRightBoldIcon14 {
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.pharrowRightBoldWrapper5 {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 0;
}
.genreParent4,
.groupNumberParent5,
.pharrowRightBoldWrapper5 {
  display: flex;
  align-items: flex-start;
}
.groupNumberParent5 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.genreParent4 {
  width: 206px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.card7,
.pharrowRightBoldIcon15 {
  overflow: hidden;
  flex-shrink: 0;
  position: relative;
}
.pharrowRightBoldIcon15 {
  margin-left: -64px;
  width: 32px;
  height: 32px;
  z-index: 1;
}
.card7 {
  height: 320px;
  width: 250px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-182xl) var(--padding-lg) var(--padding-lg);
  box-sizing: border-box;
  gap: var(--gap-30xl);
}
.imageIcon8 {
  width: 306px;
  height: 424px;
  position: absolute;
  margin: 0 !important;
  top: -57px;
  left: -35px;
  object-fit: cover;
}
.genre8 {
  min-width: 35px;
}
.genre8,
.groupNumber8,
.projectName8 {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.projectName8 {
  margin: 0;
  width: 190px;
  font-size: var(--font-size-6xl);
  font-weight: 700;
  font-family: inherit;
}
.groupNumber8 {
  min-width: 84px;
}
.pharrowRightBoldIcon16 {
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.pharrowRightBoldWrapper6 {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 0;
}
.genreParent5,
.groupNumberParent6,
.pharrowRightBoldWrapper6 {
  display: flex;
  align-items: flex-start;
}
.groupNumberParent6 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.genreParent5 {
  width: 206px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.card8,
.pharrowRightBoldIcon17 {
  overflow: hidden;
  flex-shrink: 0;
  position: relative;
}
.pharrowRightBoldIcon17 {
  margin-left: -64px;
  width: 32px;
  height: 32px;
  z-index: 1;
}
.card8 {
  height: 320px;
  width: 250px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-182xl) var(--padding-lg) var(--padding-lg);
  box-sizing: border-box;
  gap: var(--gap-30xl);
}
.imageIcon9 {
  width: 306px;
  height: 424px;
  position: absolute;
  margin: 0 !important;
  top: -57px;
  left: -35px;
  object-fit: cover;
}
.genre9 {
  min-width: 35px;
}
.genre9,
.groupNumber9,
.projectName9 {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.projectName9 {
  margin: 0;
  width: 190px;
  font-size: var(--font-size-6xl);
  font-weight: 700;
  font-family: inherit;
}
.groupNumber9 {
  min-width: 84px;
}
.pharrowRightBoldIcon18 {
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.pharrowRightBoldWrapper7 {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 0;
}
.genreParent6,
.groupNumberParent7,
.pharrowRightBoldWrapper7 {
  display: flex;
  align-items: flex-start;
}
.groupNumberParent7 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.genreParent6 {
  width: 206px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.card9,
.pharrowRightBoldIcon19 {
  overflow: hidden;
  flex-shrink: 0;
  position: relative;
}
.pharrowRightBoldIcon19 {
  margin-left: -64px;
  width: 32px;
  height: 32px;
  z-index: 1;
}
.card9 {
  height: 320px;
  width: 250px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-182xl) var(--padding-lg) var(--padding-lg);
  box-sizing: border-box;
  gap: var(--gap-30xl);
}
.imageIcon10 {
  width: 306px;
  height: 424px;
  position: absolute;
  margin: 0 !important;
  top: -57px;
  left: -35px;
  object-fit: cover;
}
.genre10 {
  min-width: 35px;
}
.genre10,
.groupNumber10,
.projectName10 {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.projectName10 {
  margin: 0;
  width: 190px;
  font-size: var(--font-size-6xl);
  font-weight: 700;
  font-family: inherit;
}
.groupNumber10 {
  min-width: 84px;
}
.pharrowRightBoldIcon20 {
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.pharrowRightBoldWrapper8 {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 0;
}
.genreParent7,
.groupNumberParent8,
.pharrowRightBoldWrapper8 {
  display: flex;
  align-items: flex-start;
}
.groupNumberParent8 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.genreParent7 {
  width: 206px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.card10,
.pharrowRightBoldIcon21 {
  overflow: hidden;
  flex-shrink: 0;
  position: relative;
}
.pharrowRightBoldIcon21 {
  margin-left: -64px;
  width: 32px;
  height: 32px;
  z-index: 1;
}
.card10 {
  height: 320px;
  width: 250px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-182xl) var(--padding-lg) var(--padding-lg);
  box-sizing: border-box;
  gap: var(--gap-30xl);
}
.imageIcon11 {
  width: 306px;
  height: 424px;
  position: absolute;
  margin: 0 !important;
  top: -57px;
  left: -35px;
  object-fit: cover;
}
.genre11 {
  min-width: 35px;
}
.genre11,
.groupNumber11,
.projectName11 {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.projectName11 {
  margin: 0;
  width: 190px;
  font-size: var(--font-size-6xl);
  font-weight: 700;
  font-family: inherit;
}
.groupNumber11 {
  min-width: 84px;
}
.pharrowRightBoldIcon22 {
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.pharrowRightBoldWrapper9 {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 0;
}
.genreParent8,
.groupNumberParent9,
.pharrowRightBoldWrapper9 {
  display: flex;
  align-items: flex-start;
}
.groupNumberParent9 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.genreParent8 {
  width: 206px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.card11,
.pharrowRightBoldIcon23 {
  overflow: hidden;
  flex-shrink: 0;
  position: relative;
}
.pharrowRightBoldIcon23 {
  margin-left: -64px;
  width: 32px;
  height: 32px;
  z-index: 1;
}
.card11 {
  height: 320px;
  width: 250px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-182xl) var(--padding-lg) var(--padding-lg);
  box-sizing: border-box;
  gap: var(--gap-30xl);
}
.cardListContainer,
.frameContainer,
.frameParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.cardListContainer {
  width: 930px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 70px 88px;
  min-height: 1100px;
}
.frameContainer,
.frameParent {
  flex-direction: column;
}
.frameContainer {
  align-self: stretch;
  gap: var(--gap-51xl);
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
}
.frameParent {
  flex: 1;
  gap: 118px;
  text-align: left;
  font-size: var(--font-size-81xl);
  color: var(--color-white);
  font-family: var(--font-sf-pro-display);
}
.macbookAir3,
.macbookAir3Inner {
  display: flex;
  box-sizing: border-box;
}
.macbookAir3Inner {
  width: 1091px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 33px;
  max-width: 100%;
}
.macbookAir3 {
  width: 100%;
  position: relative;
  background-color: var(--color-black);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-24xl) var(--padding-28xl) var(--padding-151xl);
  gap: var(--gap-182xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1125px) {
  .cardContentContainerParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1025px) {
  .projects {
    font-size: var(--font-size-31xl);
    line-height: 58px;
  }
  .cardContentContainerParent,
  .frameContainer {
    gap: var(--gap-16xl);
  }
  .frameParent {
    gap: var(--gap-40xl);
  }
}
@media screen and (max-width: 750px) {
  .cardContentContainerParent {
    gap: var(--gap-lg);
  }
  .cardListContainer {
    gap: var(--gap-25xl);
  }
  .frameContainer {
    gap: var(--gap-mid);
  }
  .frameParent {
    gap: var(--gap-10xl);
  }
  .macbookAir3 {
    gap: var(--gap-81xl);
    padding-left: var(--padding-4xl);
    padding-right: var(--padding-4xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .projects {
    font-size: var(--font-size-11xl);
    line-height: 39px;
  }
  .projectName {
    font-size: var(--font-size-xl);
  }
  .card {
    padding-top: var(--padding-112xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .projectName1 {
    font-size: var(--font-size-xl);
  }
  .card1 {
    padding-top: var(--padding-112xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .projectName2 {
    font-size: var(--font-size-xl);
  }
  .card2 {
    padding-top: var(--padding-112xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .projectName3 {
    font-size: var(--font-size-xl);
  }
  .card3 {
    padding-top: var(--padding-112xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .projectName4 {
    font-size: var(--font-size-xl);
  }
  .card4 {
    padding-top: var(--padding-112xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .projectName5 {
    font-size: var(--font-size-xl);
  }
  .card5 {
    padding-top: var(--padding-112xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .projectName6 {
    font-size: var(--font-size-xl);
  }
  .card6 {
    padding-top: var(--padding-112xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .projectName7 {
    font-size: var(--font-size-xl);
  }
  .card7 {
    padding-top: var(--padding-112xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .projectName8 {
    font-size: var(--font-size-xl);
  }
  .card8 {
    padding-top: var(--padding-112xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .projectName9 {
    font-size: var(--font-size-xl);
  }
  .card9 {
    padding-top: var(--padding-112xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .projectName10 {
    font-size: var(--font-size-xl);
  }
  .card10 {
    padding-top: var(--padding-112xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .projectName11 {
    font-size: var(--font-size-xl);
  }
  .card11 {
    padding-top: var(--padding-112xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .cardListContainer {
    gap: var(--gap-3xl);
  }
  .macbookAir3 {
    gap: var(--gap-31xl);
  }
}
