.gP,
.sD {
  margin: 0;
}
.sDGContainer {
  width: 36px;
  position: relative;
  letter-spacing: 0.4em;
  line-height: 168%;
  display: inline-block;
}
.component64Icon {
  align-self: stretch;
  height: 28.6px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.component64Wrapper,
.sDGPParent {
  display: flex;
  align-items: flex-start;
}
.component64Wrapper {
  width: 70px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-lg) 0 0;
  box-sizing: border-box;
}
.sDGPParent {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-white);
  font-family: var(--font-sf-pro-display);
}
.exploreOurCampus,
.innovateCollaborateInspire {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 97.47%;
  font-family: inherit;
  z-index: 2;
}
.innovateCollaborateInspire {
  align-self: stretch;
  height: 49px;
  font-weight: 500;
  display: inline-block;
}
.exploreOurCampus {
  font-weight: 400;
}
.exploreOurCampusCreationsWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  font-size: var(--font-size-6xl);
}
.innovateCollaborateInspireParent {
  width: 620px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 25px;
  max-width: 100%;
}
.macbookAir1Inner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 3px 157px 0;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--color-white);
  font-family: var(--font-sf-pro-display);
}
.projects {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  z-index: 2;
}
.projectsWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 36px;
}
.frameParent,
.macbookAir1,
.macbookAir1Child {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent {
  flex: 1;
  flex-direction: column;
  gap: 74px;
  max-width: 100%;
}
.macbookAir1,
.macbookAir1Child {
  box-sizing: border-box;
}
.macbookAir1Child {
  align-self: stretch;
  flex-direction: row;
  padding: 0 41px 0 37px;
  max-width: 100%;
  text-align: left;
  font-size: 45px;
  color: var(--color-white);
  font-family: var(--font-inter);
}
.macbookAir1 {
  width: 100%;
  position: relative;
  background-color: var(--color-black);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-24xl) var(--padding-28xl) var(--padding-112xl)
    var(--padding-31xl);
  gap: 230px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1225px) {
  .frameParent {
    gap: 37px;
  }
}
@media screen and (max-width: 750px) {
  .innovateCollaborateInspire {
    font-size: var(--font-size-21xl);
    line-height: 39px;
  }
  .projects {
    font-size: 36px;
  }
  .frameParent {
    gap: var(--gap-lg);
  }
  .macbookAir1 {
    gap: 115px;
    padding-left: var(--padding-6xl);
    padding-right: var(--padding-4xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .innovateCollaborateInspire {
    font-size: var(--font-size-11xl);
    line-height: 29px;
  }
  .exploreOurCampus {
    font-size: var(--font-size-xl);
    line-height: 19px;
  }
  .projects {
    font-size: 27px;
  }
  .macbookAir1 {
    gap: 57px;
  }
}
