.iconLinefilter {
  width: 24px;
  height: 24px;
  position: relative;
  display: none;
}
.imageIcon {
  position: absolute;
  top: -57px;
  left: -35px;
  width: 306px;
  height: 424px;
  object-fit: cover;
}
.genre,
.groupNumber,
.projectName {
  position: absolute;
  left: 18px;
  display: inline-block;
}
.projectName {
  top: 222px;
  font-size: var(--font-size-6xl);
  width: 190px;
}
.genre,
.groupNumber {
  top: 201px;
  min-width: 35px;
}
.groupNumber {
  top: 258px;
  min-width: 84px;
}
.pharrowRightBoldIcon,
.pharrowRightBoldIcon1 {
  position: absolute;
  top: 270px;
  left: 192px;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.pharrowRightBoldIcon1 {
  top: 351px;
  left: -46px;
}
.card {
  width: 250px;
  height: 320px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.imageIcon1 {
  position: absolute;
  top: -57px;
  left: -35px;
  width: 306px;
  height: 424px;
  object-fit: cover;
}
.genre1,
.groupNumber1,
.projectName1 {
  position: absolute;
  left: 18px;
  display: inline-block;
}
.projectName1 {
  top: 222px;
  font-size: var(--font-size-6xl);
  width: 190px;
}
.genre1,
.groupNumber1 {
  top: 201px;
  min-width: 35px;
}
.groupNumber1 {
  top: 258px;
  min-width: 84px;
}
.pharrowRightBoldIcon2,
.pharrowRightBoldIcon3 {
  position: absolute;
  top: 270px;
  left: 192px;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.pharrowRightBoldIcon3 {
  top: 351px;
  left: -46px;
}
.card1 {
  width: 250px;
  height: 320px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.imageIcon2 {
  position: absolute;
  top: -57px;
  left: -35px;
  width: 306px;
  height: 424px;
  object-fit: cover;
}
.genre2,
.groupNumber2,
.projectName2 {
  position: absolute;
  left: 18px;
  display: inline-block;
}
.projectName2 {
  top: 222px;
  font-size: var(--font-size-6xl);
  width: 190px;
}
.genre2,
.groupNumber2 {
  top: 201px;
  min-width: 35px;
}
.groupNumber2 {
  top: 258px;
  min-width: 84px;
}
.pharrowRightBoldIcon4,
.pharrowRightBoldIcon5 {
  position: absolute;
  top: 270px;
  left: 192px;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.pharrowRightBoldIcon5 {
  top: 351px;
  left: -46px;
}
.card2 {
  width: 250px;
  height: 320px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.gP,
.sD {
  margin: 0;
}
.sDGContainer {
  width: 36px;
  position: relative;
  letter-spacing: 0.4em;
  line-height: 168%;
  display: inline-block;
  cursor: pointer;
}
.component64Icon {
  align-self: stretch;
  height: 28.6px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.component64Wrapper,
.sDGPParent {
  display: flex;
  align-items: flex-start;
}
.component64Wrapper {
  width: 70px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.sDGPParent {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-white);
  font-family: var(--font-sf-pro-display);
}
.projects {
  margin: 0;
  width: 351px;
  position: relative;
  font-size: inherit;
  line-height: 97.47%;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 2;
}
.projectsWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-5xl);
  box-sizing: border-box;
  max-width: 100%;
}
.wrapperGroup3,
.wrapperGroup3Child {
  position: absolute;
  mix-blend-mode: normal;
}
.wrapperGroup3Child {
  width: 100%;
  height: 100%;
  object-fit: contain;
  left: 0;
  top: 0;
  transform: scale(2.061);
}
.wrapperGroup3 {
  top: 369px;
  left: 158px;
  width: 900.5px;
  height: 892.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vectorIcon {
  position: absolute;
  top: -97px;
  left: 0;
  width: 1277.5px;
  height: 1277.5px;
  object-fit: contain;
  mix-blend-mode: overlay;
  z-index: 1;
}
.wrapperGroup3Parent {
  height: 1261.5px;
  width: 608px;
  position: absolute;
  margin: 0 !important;
  top: -525px;
  right: -82px;
}
.frameChild {
  width: 1121px;
  height: 626px;
  position: relative;
  box-shadow: 0 0 38px rgba(0, 0, 0, 0.5);
  border-radius: var(--br-30xl);
  background-color: var(--color-gray);
  display: none;
  max-width: 100%;
}
.projectName3 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  z-index: 4;
}
.projectNameWrapper {
  width: 657px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 11px 0 0;
  box-sizing: border-box;
  max-width: calc(100% - 43px);
}
.frameInner,
.frameItem {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 4;
}
.frameInner {
  z-index: 5;
}
.vectorParent {
  height: 22.7px;
  width: 22.7px;
  position: relative;
}
.frameParent1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.loremIpsumDolor {
  margin: 0;
  width: 941px;
  height: 235px;
  position: relative;
  font-size: var(--font-size-11xl);
  line-height: 138%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 4;
}
.frameDiv {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 38px;
  max-width: 100%;
}
.otherDetails {
  flex-shrink: 0;
}
.otherDetails,
.otherDetails1 {
  margin: 0;
  width: 312px;
  position: relative;
  font-size: inherit;
  line-height: 42px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  z-index: 4;
}
.otherDetailsWrapper {
  width: 359px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.otherDetails2 {
  margin: 0;
  width: 312px;
  position: relative;
  font-size: inherit;
  line-height: 42px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  z-index: 4;
}
.otherDetailsParent,
.rectangleParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.otherDetailsParent {
  flex-direction: row;
  gap: 66px;
  max-width: 111%;
  flex-shrink: 0;
  font-size: var(--font-size-11xl);
}
.rectangleParent {
  width: 1121px;
  box-shadow: 0 0 38px rgba(0, 0, 0, 0.5);
  border-radius: var(--br-30xl);
  background-color: var(--color-gray);
  flex-direction: column;
  padding: var(--padding-23xl) 49px 67px 61px;
  box-sizing: border-box;
  gap: 131px;
  max-width: 100%;
  z-index: 3;
}
.frameContainer {
  align-self: stretch;
  flex-direction: row;
  position: relative;
}
.cardParent,
.frameContainer,
.frameWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frameWrapper {
  align-self: stretch;
  flex-direction: column;
  padding: 0 0 119px;
  box-sizing: border-box;
  min-height: 745px;
}
.cardParent {
  width: 930px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 70px 88px;
  min-height: 710px;
}
.frameGroup,
.frameWrapper1 {
  align-self: stretch;
  display: flex;
  max-width: 100%;
}
.frameWrapper1 {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-6xl);
  box-sizing: border-box;
}
.frameGroup {
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-51xl);
  font-size: var(--font-size-31xl);
}
.frameParent,
.macbookAir4,
.macbookAir4Inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent {
  flex: 1;
  flex-direction: column;
  gap: 83px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-81xl);
  color: var(--color-white);
  font-family: var(--font-sf-pro-display);
}
.macbookAir4,
.macbookAir4Inner {
  box-sizing: border-box;
}
.macbookAir4Inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 35px 0 var(--padding-8xl);
  max-width: 100%;
}
.macbookAir4 {
  width: 100%;
  position: relative;
  background-color: var(--color-black);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-24xl) var(--padding-28xl) var(--padding-151xl)
    var(--padding-31xl);
  gap: var(--gap-182xl);
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1275px) {
  .otherDetailsParent {
    flex-wrap: wrap;
    gap: var(--gap-14xl);
  }
  .rectangleParent {
    gap: 65px;
    padding-left: 30px;
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
  .frameGroup {
    gap: var(--gap-16xl);
  }
  .frameParent {
    gap: 41px;
  }
}
@media screen and (max-width: 1100px) {
  .otherDetailsParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .projects {
    font-size: var(--font-size-31xl);
    line-height: 58px;
  }
  .projectName3 {
    font-size: var(--font-size-21xl);
  }
  .loremIpsumDolor {
    font-size: var(--font-size-5xl);
    line-height: 33px;
  }
  .frameDiv {
    gap: 19px;
  }
  .otherDetails,
  .otherDetails1,
  .otherDetails2 {
    font-size: var(--font-size-5xl);
    line-height: 33px;
  }
  .otherDetailsParent {
    flex-wrap: wrap;
    gap: var(--gap-base);
  }
  .rectangleParent {
    gap: var(--gap-14xl);
    padding-top: var(--padding-8xl);
    padding-bottom: 44px;
    box-sizing: border-box;
  }
  .frameWrapper {
    padding-bottom: 77px;
    box-sizing: border-box;
  }
  .cardParent {
    gap: var(--gap-25xl);
  }
  .frameGroup {
    gap: var(--gap-mid);
  }
  .frameParent {
    gap: 21px;
  }
  .macbookAir4 {
    gap: var(--gap-81xl);
    padding-left: var(--padding-6xl);
    padding-right: var(--padding-4xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .projectName,
  .projectName1,
  .projectName2 {
    font-size: var(--font-size-xl);
  }
  .projects {
    line-height: 39px;
  }
  .projectName3,
  .projects {
    font-size: var(--font-size-11xl);
  }
  .loremIpsumDolor,
  .otherDetails,
  .otherDetails1,
  .otherDetails2 {
    font-size: var(--font-size-lg);
    line-height: 25px;
  }
  .otherDetailsParent {
    flex-wrap: wrap;
  }
  .rectangleParent {
    gap: var(--gap-base);
  }
  .cardParent {
    gap: var(--gap-3xl);
  }
  .macbookAir4 {
    gap: var(--gap-31xl);
  }
}
